/////////////////////////////////////
// Navbar
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 2.4rem;
  position: relative;
  border: 2px dotted;
}
// End Navbar
/////////////////////////////////////
