/////////////////////////////////////
// Navbar
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 2.4rem;
  position: relative;

  @media screen and (min-width: 768px) {
    position: initial;
    padding: 0;
  }
}
// End Navbar
/////////////////////////////////////
